{
  "extends": "xo-space/esnext",
  "rules": {
    "semi": [2, "never"],
    "prefer-const": 0,
    "no-multiple-empty-lines": 0,
  },
  "globals": {
    "document": false,
    "location": false,
    "riot": false,
    "dispatcher": false
  },
  "plugins": [
    "riot"
  ]
}
